<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Sign Up</span>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="row">
            <div class="input-field col s12">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'validate', placeholder: 'Email' %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: 'Username' %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password' %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password Confirmation' %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 remember-me-check">
              <%= f.submit "Sign up", class: 'btn' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="card-action">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
