<!DOCTYPE html>
<html>
<head>
  <title>Skeduler</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <%= render 'shared/header' %>
  <%= render 'shared/flash' %>

  <div class="container">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
